
.payment-wrap {
  padding: 0.32rem;
  .form-item {
    display: flex;
    align-self: center;
    line-height: 0.88rem;;
    .form-label {
      flex-shrink: 0;
      width: 1.5rem;
    }
    .form-content {
      width: 0;
      flex: 1;
      height: 0.88rem;
      input {
        height: 100%;
        width: 100%;
        border: none;
      }
    }
  }
}