
.payment-wrap {
  .action-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #000;
    color: #fff
  }
  .period-item {
    display: flex;
    color: #333;
    align-items: center;
    .item-title {
      flex-shrink: 0;
    }
    .item-price {
      margin: 0 0.2rem;
      width: 0;
      flex: 1;
      text-align: right;
    }
    .item-icon {
      flex-shrink: 0;
      color: #999;
    }
  }
}